    /* This file is for your main application css. */
    
    @import "./phoenix.css";
    /* Alerts and form errors */
    
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    
    .alert p {
        margin-bottom: 0;
    }
    
    .alert:empty {
        display: none;
    }
    
    .invalid-feedback {
        color: #a94442;
        display: block;
        margin: -1rem 0 2rem;
    }
    
    .crazycardsbody {
        background-color: #212529;
        color: #dfe0e4;
    }
    
    .neoneffect {
        font-size: 45px;
        font-style: italic;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
        animation: blinker 2s linear infinite;
    }
    
    @keyframes blinker {
        50% {
            opacity: 35%;
        }
    }
    
    .table {
        font-size: 15px;
    }
    
    .coolname {
        font-style: italic;
        font-size: 15px;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
    
    .coolshow {
        font-style: italic;
        font-size: 15px;
    }