<h1>New Marker based</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.marker_based_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.marker_based_path(@conn, :index) %></span>
